## Visual Studio
.vs/

## Build
bin/
obj/

## App settings (secrets)
appsettings.Development.json
appsettings.Production.json
# User files
*.user
*.suo

# Logs
*.log

# Uploaded files
wwwroot/uploads/**
wwwroot/avatars/**

# Environment
.env